TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11
DB_FILE=database.sqlite
LOG_FILE=logs.log
# instruction for contact with the admin, check consts.WELCOME
BETTER_CALL_SAUL="Instruction how to contact with the admin or something else in welcome message"
# You can add at least as many admins, write "ADMIN1=...", "ADMIN2=..." etc.
# The keys must start with "ADMIN".
ADMIN_ID=123456789
ADMIN1=987654321
ADMIN2=133722800